html,body{
  width:100%;
  height:100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header{
  background:#000;
  width:100%;
  height:4%;
  color: #fff;
  font-size: 2rem;
  font-weight:bold;
  padding:1%;
}

section{
  background:#fff;
  height:70%;
}

.about-background{
  height: 50%;
  background-image: url('background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.about-people{
  margin-top: -3%;
}

.about-people, .about-description{
  display: flex;
  justify-content: center;
  text-align:center;
  flex-wrap:wrap;
}

.about-people__img{
  border-radius:50%;
  margin: 0 1% 0 1%;
}

.about-description__heading, .about-description__text{
  width:100%;
}

footer{
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height:25%;
  background:grey;
}

.footer-section li{
  list-style: none;  
}

.footer-section li a {
  text-decoration: none;
}
